* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 75px auto 75px;
  grid-template-areas:
    " hd hd hd hd hd hd hd hd"
    " mn mn mn mn mn mn sb sb"
    " ft ft ft ft ft ft ft ft";
}

.container {
  min-height: 400px;
  grid-area: mn;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 0.5rem;
}
.box {
  background-color: black;
  color: white;
}
.el {
  background-color: blueviolet;
  color: aliceblue;
  display: grid;
}

.header {
  grid-area: hd;
  background-color: teal;
}

.footer {
  grid-area: ft;
  background-color: burlywood;
}
.sidebar {
  grid-area: sb;
  background-color: salmon;
}
