* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #c28723;
}

.ukraine {
  padding: 0.5rem;
  background-color: #5c5346;
}

a {
  color: aliceblue;
  text-decoration: none;
  text-transform: capitalize;
}

.redirect {
  margin-left: 5px;
  text-decoration: none;
  color: #b8e1ff;
}
.redirect:hover {
  color: #85a4ba;
}

img {
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.texty-header1 {
  text-decoration: none;
  color: #ececec;
}

.nav-bar {
  margin-right: 50px;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr repeat(4, 1fr) 4fr 2fr;
}

.list-nav-special:nth-child(6) {
  text-align: right;
  /* nu inteleg principiul de functionare aici
  de ce este al 6lea copil? */
}

li {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  background-image: url(search.png);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-color: #c28723;
  border-radius: 25px;
  width: 20px;

  border: none;
  padding-left: 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type="text"]:focus {
  width: 70%;
  outline: none;
}

input[type="text"]:hover {
  outline: none;
}

.list-nav:active {
  /* display: block; */
}
.sidebar {
  background-color: #85a4ba;
  min-width: 200px;
  height: 100vh;
  grid-area: sb;
  display: grid;
}

.sidebar-list {
  list-style: none;
}

.react-button {
  color: #392f5a;
}

footer {
  grid-area: ft;
  background-color: #392f5a;
}
header {
  grid-area: nav;
}
.main-content {
  grid-area: main;
  display: grid;
}
body {
  display: grid;
  grid-template-areas:
    "nav nav"
    "main sb"
    "ft sb";
}

footer {
  display: grid;
  grid-template-areas:
    "l1 l2"
    "l3 l4"
    "l  l";
}
.list1 {
  grid-area: l1;
}
.list2 {
  grid-area: l2;
}
.list3 {
  grid-area: l3;
}
.list4 {
  grid-area: l4;
}
.copyright {
  grid-area: l;
}
.list1,
.list2,
.list3,
.list4,
.copyright {
  display: grid;

  align-items: center;
  justify-content: center;
}
